{% extends "base.html" %}

{% block content %}
  <h1>Welcome to the Django Playground !</h1>
  <p>This is a simple Django project make to test features and build POC.</p>
  <h2>Disclaimer</h2>
  <p>This project is not intended to be used in production !!!</p>
  <h2>Features</h2>
  <div class="alert alert-info" role="alert">To be added...</div>
  <h2>Ressources</h2>
  <div class="alert alert-info" role="alert">To be added...</div>
  <h2>Add a feature</h2>
  <div class="alert alert-info" role="alert">To be added...</div>
{% endblock content %}
