{% extends "base.html" %}

{% block content %}
  <h1>Welcome to the Django Playground !</h1>
  <p>This is a simple Django project make to test features and build POC.</p>
  <h2>Disclaimer</h2>
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-2"></i>
    <div>This project is not intended to be used in production !</div>
  </div>
  <h2>Features</h2>
  <div class="alert alert-info d-flex align-items-center" role="alert">
    <i class="bi bi-info-circle-fill me-2"></i>
    <div>To be added...</div>
  </div>
  <h2>Ressources</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="https://docs.djangoproject.com/en/5.1/">Django documentation</a>
    </li>
    <li class="list-group-item">
      <a href="https://github.com/cookiecutter/cookiecutter-django">Cookie cutter Django
      documentation</a>
    </li>
    <li class="list-group-item">
      <a href="https://docs.celeryq.dev/en/stable/">Celery documentation</a>
    </li>
    <li class="list-group-item">
      <a href="https://www.rabbitmq.com/docs">RabbitMQ documentation</a>
    </li>
  </ul>
  <h2>Add a feature</h2>
  <div class="alert alert-info d-flex align-items-center" role="alert">
    <i class="bi bi-info-circle-fill me-2"></i>
    <div>To be added...</div>
  </div>
{% endblock content %}
