{% extends "base.html" %}

{% load static %}

{% block title %}
  Stock App Dashboard
{% endblock title %}
{% block content %}
  <h1>Stock App</h1>
  <div class="alert alert-info d-flex align-items-center" role="alert">
    <i class="bi bi-info-circle-fill me-2"></i>
    <div>This App is made to show how to use Celery task inside a Django app.</div>
  </div>
  <div class="col">
    <a href="{% url 'stocks:products' %}">
      <h2>Products</h2>
    </a>
  </div>
  <div class="col">
    <h1>Stock App Model</h1>
    <div class="alert alert-info d-flex align-items-center" role="alert">
      <i class="bi bi-info-circle-fill me-2"></i>
      <div>To be added...</div>
    </div>
  </div>
{% endblock content %}
