{% extends "base.html" %}

{% load static %}

{% block title %}
  All Stocks
{% endblock title %}
{% block content %}
  <div class="container">
    <h1>
      {{ object.name | capfirst }}
      <span class="badge text-bg-primary"><i class="bi bi-tag me-3"></i>{{ object.category | capfirst }}</span>
      <span class="badge text-bg-secondary"><i class="bi bi-box me-3"></i>{{ object.supplier | capfirst }}</span>
    </h1>
    <br />
    <div class="card">
      <div class="card-header">Description</div>
      <div class="card-body">{{ object.description }}</div>
    </div>
    <br />
    <div class="card">
      <div class="card-header">Quantity in stock</div>
      <div class="card-body">{{ object.quantity_in_stock }}</div>
    </div>
  </div>
{% endblock content %}
