{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  Réduire le stock pour {{ product_name }}
{% endblock title %}
{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <!-- Titre de la page -->
        <div class="text-center mb-4">
          <h1 class="display-4">Réduire le stock</h1>
        </div>
        <!-- Informations sur le produit -->
        <div class="card mb-4">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ product_thumbnail }}"
                   class="img-fluid rounded-start"
                   alt="{{ product_name }}" />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h3 class="card-title">{{ product_name }}</h3>
                {% include "stocks/products/components/stock-status.html" with product=product %}
                <!-- Affichage du dernier mouvement de stock entrant -->
                {% if product_last_incoming_movement %}
                  <p class="mt-3">
                    <strong>Dernière sortie en stock :</strong> {{ product_last_incoming_movement.quantity }} unités le {{ product_last_incoming_movement.created_at|date:"d/m/Y" }}
                  </p>
                {% else %}
                  <p class="mt-3">
                    <strong>Aucun mouvement de stock sortant enregistré.</strong>
                  </p>
                {% endif %}
                <p>{{ object }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Carte contenant le formulaire -->
        <div class="card shadow">
          <div class="card-body">
            <h3 class="card-title mb-4">Informations de la réduction de stock</h3>
            {% crispy form %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
