{% extends "base.html" %}

{% load static %}

{% block title %}
  All Stocks
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <h1>{{ object.title | capfirst }}</h1>
      <div>
        <a href="{% url "stocks:product-stock-burn" object.pk %}"
           class="btn btn-danger me-3">
          <i class="bi bi-fire"></i> Burn stock
        </a>
        <a href="{% url "stocks:product-stock-burn" object.pk %}"
           class="btn btn-primary">
          <i class="bi bi-currency-dollar"></i> Order stock
        </a>
      </div>
    </div>
    <br />
    <div class="card">
      <div class="card-header">Description</div>
      <div class="card-body">{{ object.description }}</div>
    </div>
    <br />
    <div class="card">
      <div class="card-header">Quantity in stock</div>
      <div class="card-body">{{ object.stock }}</div>
    </div>
    <hr />
  </div>
  {% include "stocks/movements/block-list.html" %}
{% endblock content %}
