{% extends "base.html" %}

{% load static %}

{% block title %}
  All Stocks
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <h1>All Product in stock</h1>
      <a href="{% url 'stocks:products-stock-burn' %}" class="btn btn-danger">
        <i class="bi bi-fire"></i> Burn all stock
      </a>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>category</th>
          <th>Description</th>
          <th>Quantity in stock</th>
          <th>Movement count</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for product in object_list %}
          <tr>
            <td>{{ product.title | capfirst }}</td>
            <td>{{ product.category | capfirst }}</td>
            <td>{{ product.description | truncatechars:25 }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.stock_movements.count }}</td>
            <td>
              <a href="{% url 'stocks:product-detail' product.pk %}"
                 class="btn btn-primary">View</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">« first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last »</a>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock content %}
